@import './assets/theme/brunsker.theme';

body {
  margin: 0px;
  background: #fcfcfc;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.transparent .mat-dialog-container {
box-shadow: none;
background: rgba(0, 0, 0, 0);
}

.mat-snack-bar-container .flex {
display: flex;
align-items: center;
justify-content: space-between;
text-transform: uppercase;
padding: 0;
}

.mat-snack-bar-container.danger {
color: white;
background-color: var(--danger);
}

.mat-snack-bar-container.warning {
color: white;
background-color: var(--warning);
}

.mat-snack-bar-container.success {
  color: white;
  background-color: var(--success);
}

.tooltip {
  background: var(--primary-color);
}

.simplebar-scrollbar::before {
  background-color: var(--primary-color) !important;
}
